.navbar {
    background-color:#71EAE1; /* Navbar background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    margin-left: 20px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
 .contact-btn {
  background-color: #FF6196;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 600px;
}
 .contact-btn:hover {
  background-color: #71EAE1;
}
  .navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-menu a:hover {
    text-decoration: underline;
  }
  
  .active {
    text-decoration: underline; /* Active link style */
  }
  
  .logout-btn {
    
    background-color: #FF6196; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
   
  }
  
  .logout-btn:hover {
    background-color: #e03e60;
  }
  